@font-face {
  font-family: 'ArtisualDecoBlack';
  src: url('./fonts/ArtisualDecoBlack.otf');
}

@font-face {
  font-family: 'ArtisualDecoBlackItalic';
  src: url('./fonts/ArtisualDecoBlackItalic.otf');
}

@font-face {
  font-family: 'ArtisualDecoRegular';
  src: url('./fonts/ArtisualDecoRegular.otf');
}

@font-face {
  font-family: 'ArtisualDecoRegularItalic';
  src: url('./fonts/ArtisualDecoRegularItalic.otf');
}

@font-face {
  font-family: 'ArtisualDecoThin';
  src: url('./fonts/ArtisualDecoThin.otf');
}

@font-face {
  font-family: 'ArtisualDecoThinItalic';
  src: url('./fonts/ArtisualDecoThinItalic.otf');
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'ArtisualDecoThin';
}

.App {
  text-align: center;
  background-color: black;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: minmax(25%, 25%, 25%, auto);
  border: 2px solid white;
}
