/*
Responsive design goals:
Home - 
1) *600px: Search and sort: centered and column
2) *600px: Shrink title size
3) *600px: Increase input size (revisit sizes)
4) HomeButton - rework: Maybe transparent, smaller
  -- Breakpoint: appears when scrolled past header 
5) *600px: single row posters
6) 

Individual movie page - 
1)
2)
3)
4)
5)
6)


*/

@font-face {
  font-family: 'ArtisualDeco';
  src: url('./fonts/ArtisualDecoRegular.otf');
}

@font-face {
  font-family: 'ArtisualDecoThin';
  src: url('./fonts/ArtisualDecoThin.otf');
}

@font-face {
  font-family: 'ArtisualDecoThinItalic';
  src: url('./fonts/ArtisualDecoThinItalic.otf');
}

@font-face {
  font-family: 'ACMountain';
  src: url('./fonts/ACMountain.otf');
}

@font-face {
  font-family: 'bettynoir';
  src: url('./fonts/bettynoir.ttf');
}

@font-face {
  font-family: 'breamcatcher';
  src: url('./fonts/breamcatcher.ttf');
}

@font-face {
  font-family: 'Dalmais';
  src: url('./fonts/Dalmais.otf');
}

@font-face {
  font-family: 'DecoBordersNF';
  src: url('./fonts/DecoBordersNF.ttf');
}

@font-face {
  font-family: 'NightAtTheOperaNF';
  src: url('./fonts/NightAtTheOperaNF.otf');
}

@font-face {
  font-family: 'ParkLaneNF';
  src: url('./fonts/ParkLaneNF.otf');
}

@font-face {
  font-family: 'RitzyRemixNF';
  src: url('./fonts/RitzyRemixNF.ttf');
}

* {
  font-size: 1em;
}

html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
}

button {
  cursor: pointer;
}

.App {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
}

.input {
  padding: 1%;
  border: 5px ridge gold;
  font-family: "breamcatcher"; 
  align-self: center;
  margin: 1%;
} 

@media screen and (max-width: 600px) {
  .input {
    font-size: 175%;
    width: 60%;
  }

  .search-filter {
    width: 100vw;
    flex-direction: column;
    justify-content: center;
  }
} 

