.home-button {
  background-image: url('../assets/button.png');
  background-color: black;
  border: none;
  width: 132px;
  height: 107px;
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-content: center;
  margin-left: 20%;
}

.home-button:hover {
  transform: translate(0%, -5%);
  transform: scale(1.2, 1.2);
}

.home-button:visited {
  transform: rotate(90deg);
}

.home-button::after {
  transform: rotate(90deg);
}
