.trailer {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trailer-vid {
  width: 100%;
  height: 90%;
  z-index: 1;
  opacity: 1;
}


/* .trailer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% auto;
}

iframe {
  grid-column: 1;
  grid-row: 2;
} */
